#tasks-page {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  

  .title {
    margin-bottom: 50px;
    text-align: center;
  }

  .counters {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .counter {
      text-align: center;

      .counter-title {
        margin: 0;
      }

      .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
    }
  }

  .task-list {
    background-image: url("../src/assets/cork.jpg");
    border: 10px solid brown;
    width: 70%;
    min-width: 450px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    list-style-type: none;

  }
}